<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecoswap_app/css/base.css' %}" />
    {% block additionalStyles %}{% endblock %}
  </head>
  <body>
    <div class="header">
      <h1><a class="logo" href="{% url 'ecoswap_app:index' %}">Eco Swap</a></h1>
      <div class="user-info">
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'ecoswap_app:profile' %}">Profile</a>
        <a href="{% url 'ecoswap_app:user_items' %}">My Items</a>
        <a href="{% url 'ecoswap_app:create_item' %}">Create Item</a>
        <a href="{% url 'ecoswap_app:user_exchange_requests' %}">
          Exchange Requests {{ exchange_request_count }}
        </a>
        <a href="{% url 'ecoswap_app:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'ecoswap_app:login' %}">Login</a>
        <a href="{% url 'ecoswap_app:register' %}">Register</a>
        {% endif %}
      </div>
    </div>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% block content %}{% endblock %}
  </body>
</html>
