<!-- ecoswap_app/templates/ecoswap_app/profile.html -->

{% extends "ecoswap_app/base.html" %} {% load static %} {% block title %}
Profile {% endblock %} {% block additionalStyles %}
<link rel="stylesheet" href="{% static 'ecoswap_app/css/profile.css' %}" />
{% endblock %} {%block content %}
<div class="container">
  <h2>Profile</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Phone Number: {{ user.phone_number }}</p>
  <p>Address: {{ user.address }}</p>
  <p>Joined on: {{ user.created_at }}</p>
    <a href="{% url 'ecoswap_app:edit_profile' %}" class="edit-profile-button">Edit Profile</a>
</div>
{% endblock %}