body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.sidebar {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar h2,
.sidebar h3 {
  text-align: left;
}

.sidebar form {
  display: flex;
  flex-direction: column;
}

.sidebar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sidebar button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.sidebar hr {
  margin: 20px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #007bff;
  text-decoration: none;
}

.sidebar ul li a strong {
  color: #000;
}

.content {
  flex: 3;
  max-width: 800px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.item-box p {
  margin: 10px 0;
}

.item-box strong {
  color: #555;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .content {
    max-width: 100%;
  }

  .item-box {
    width: 90%;
  }
}
