body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 300px;
}

form button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.item-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.item-box p {
  margin: 10px 0;
}

.item-box strong {
  color: #555;
}

@media (max-width: 768px) {
  .item-box {
    width: 90%;
  }
}
